[Unit]
Description=Octopus network Monitor
[Service]
Type=oneshot
ExecStart=/opt/octopus-network-monitor.sh
User=root
[Install]
WantedBy=multi-user.target
