[Unit]
Description=Octopus Health JSON Writer
[Service]
Type=oneshot
ExecStart=/opt/octopus-health-json.sh
User=root
[Install]
WantedBy=multi-user.target
