[Unit]
Description=Daily Config Validation
[Service]
Type=oneshot
ExecStart=/opt/octopus-config-validate.sh
User=root
[Install]
WantedBy=multi-user.target
