[Unit]
Description=Octopus Crypto Timestamp
[Service]
Type=oneshot
ExecStart=/opt/octopus-timestamp.sh
User=root
[Install]
WantedBy=multi-user.target
