[Unit]
Description=Run Octopus Memory Replicator every 15 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=octopus-memory-replicator.service

[Install]
WantedBy=timers.target
