[Unit]
Description=Auto-link every 30min
[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
Unit=octopus-autolink.service
[Install]
WantedBy=timers.target
