[Unit]
Description=Daily Performance Benchmark
[Service]
Type=oneshot
ExecStart=/opt/octopus-perf-bench.sh
User=root
[Install]
WantedBy=multi-user.target
