[Unit]
Description=Octopus Unused Resource Reclaimer
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/octopus-resource-reclaimer.py
Nice=19
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target
