[Unit]
Description=Run quarantine cleanup daily

[Timer]
OnCalendar=*-*-* 05:30:00
RandomizedDelaySec=600
Persistent=true

[Install]
WantedBy=timers.target
