[Unit]
Description=Octopus Cascade Monitor
[Service]
Type=oneshot
ExecStart=/opt/octopus-monitor-cascade.sh
User=root
[Install]
WantedBy=multi-user.target
