[Unit]
Description=Octopus Alert Thresholds
[Service]
Type=oneshot
ExecStart=/opt/octopus-alert-thresholds.sh
User=root
[Install]
WantedBy=multi-user.target
