[Unit]
Description=Run Octopus guarded local autoscaler every 30 minutes

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
AccuracySec=2min
Persistent=true

[Install]
WantedBy=timers.target
