[Unit]
Description=Run Octopus Drive-Notion sync every 15 minutes
Requires=octopus-drive-notion-sync.service

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
